  
  .Wrapper{
    width:55%;
    
  }

  .A{
    width: 95%;
    height: 3px;
    left: 994px;
    top: 1802px;
    margin-left: 6%;

    background: #719C17;
  }
  .main_txt{
    text-align: justify;
  }