  
  .GWrapper{
    /*display: block;*/
    width: 80%;
    
  }

  .circleWrapper{
    display: flex;
    width: 9vw;
    height: 1.5vw;
    
    margin-left: 47px;
    margin-top: 20px;
    
  }

  .circle {

    width : 100%;
    height : 100%;
    border-radius: 50%;
    background-color: #91C427;

    left: 0%;
    right: 82.47%;
    top: 0%;
    bottom: 0%;

    margin-right: 5px;

  
  }

  .Ltriangle{
    width: 10px;
    height: 20px;
    border-left: 10px solid #719C17;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    margin-top: "2px";
    margin-right: "5px";
  }

  .link{
    padding: 0px;
    gap: 80px;

    width: 632px;
    height: 49px;


    /* Inside auto layout */

    color: #719C17;
  }

  .GradeTitle{
    width: 80%;
  }