
  

  
  .TTitleWrapper{
    padding-left: 15px;
    padding-top: 71.24px;
    margin: auto;
    width: 100%;
    display: flex;
  }

  .TWrapper{
    /*display: block;*/
    margin: auto;
    width: 55%;
    white-space: pre-line;
  }

  .triangle {
    width: 0px;
    height: 0px;

    border-top: 23.03px solid #91C427;
    border-left: 0px solid transparent;
    border-right: 23px solid transparent;
  }

  .T{
    width: 100%;
    height: 3px;
    background: #719C17;
  }
  .main_txt{
    text-align:justify;
  }